#Dont track.
#Laboratorio1.

Laboratorio1/build/*
Laboratorio1/dist/*
Laboratorio1/nbproject/*
Laboratorio1/.dep.inc
Laboratorio1/Makefile

#Laboratorio2

Laboratorio2/build/*
Laboratorio2/dist/*
Laboratorio2/nbproject/*
Laboratorio2/.dep.inc
Laboratorio2/Makefile

#Laboratorio3

Laboratorio3/build/*
Laboratorio3/dist/*
Laboratorio3/nbproject/*
Laboratorio3/.dep.inc
Laboratorio3/Makefile